/* Import GoogleFont */
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');
.color {
    color: hsl(171, 66%, 44%);
    color: hsl(233, 100%, 69%);
    color: hsl(210, 10%, 33%);
    color: hsl(201, 11%, 66%);
}

.font {
    font-family: 'Bai Jamjuree', sans-serif;;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
    box-sizing: border-box;
}

/*.container {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.col {
    display: flex;
    flex-direction: column;  
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
*/
#icone {
    height: 4rem;
    color: hsl(171, 49%, 55%);
}

/* Menu de Navigation*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    background-image: url('img/bg-header-desktop.png');
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    font-size: 1rem;
    padding: 30px 10px;
    z-index: 1;
}

.brand-title img {
    width: 2.3rem;
    vertical-align: middle;
    cursor: pointer;
    color: hsl(171, 66%, 44%);
    padding-right: 5px;
}

.brand-title {
    color: hsl(171, 66%, 44%);
    font-size: 1.4rem;
    font-weight: bold;
    top: 2rem;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color:white;
    padding: 1rem;
    display: block;
}

.navbar-links li a:hover {
    text-decoration: underline hsl(171, 49%, 55%);
}

.toggle-button {
    position: absolute;
    top: 2rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: hsl(171, 66%, 44%);
    border-radius: 10px;
}

/* Fin du menu de Navigation*/

/*Bloc accroche*/
.container-accroche {
    position: relative;
    background-color: hsl(171, 49%, 55%);
    display: flex;
    top: 118px;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    padding-left: auto;
    padding-right: auto;
}

#desktop {
    height: 20rem;
}

.container-accroche .col1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    color: white;
    font-weight: bold;
}

.container-accroche .col2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: bold;
    padding-top: 50px;
}

.col2 p {
    display: flex;
    align-items: center;
}

.title {
    display: block;
    justify-content: center;
    font-weight: bold;
    font-size: 1.4rem;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.316);
    border-radius: 50px;
    width: 30rem;
    height: 5rem;
}

.btn {
    border-radius:10px;
    background-color: hsl(233, 100%, 69%);
    color: white;
    width: 12rem;
    height: 2.6rem;
}

.telecharger {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    border: 2px solid white;
}

.telecharger>img {
    height: 22px;
    padding-left: 5px;
}

.preview {
    color: white;
    font-size: 0.7rem;
    text-decoration: underline;
}

.logoPreview {
    height: 0.8rem;
    padding-right: 5px;
}

.container-infos {
    width: 100%;
    background-color: hsl(233, 100%, 69%);
    color: white;
    position: relative;
    top: 112px;
    display: flex;
    align-items: center;

}

.container-infos>ul {
    display: inline-flex;
    height: 110px;
    vertical-align: middle;

}

.container-infos ul, li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 10px;
} 

.container-infos, li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    justify-content: space-evenly;
    padding: 0 60px;
}

.container-infos>ul p:first-child {
    font-weight: bold;
}




/*Fin du bloc accroche*/


@media (max-width: 770px) {



    .toggle-button {
        display: flex;
    }
    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        background-color: black;
        width: 100%;
        z-index: 1;

    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
        padding-top: 5px;
    }

    .navbar-links li a:hover {
        background-color: hsl(171, 66%, 44%);
        border-radius: 30px;
        background-image: url('img/bg-header-mobile.png');
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: 0.5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .container-accroche {
        width: 100%;
        top: 97px;
    }
}

